<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Patient</title>
</head>
<body>
<form action="#" th:action="@{/update/{id} (id=${patient.id})}" th:object="${patient}" method="post">
    <div>
        <input type="text" th:field="*{firstName}" placeholder="имя">
    </div>

    <div>
        <input type="text" th:field="*{lastName}" placeholder="фамилия">
    </div>

    <div>
        <input type="text" th:field="*{anamnez}" placeholder="анмнез">
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>

</form>
</body>
</html>